/.metadata
/Factory/*.classpath
/Factory/.project
/Factory/.settings
/Proxy/*.classpath
/Proxy/*.project
/Proxy/.settings
/adapter/*.classpath
/adapter/*.project
/adapter/.settings
/strategy/*.classpath
/strategy/*.project
/strategy/.settings
/template/*.classpath
/template/*.project
/template/.settings
/Factory/bin
/Proxy/bin
/adapter/bin
/strategy/bin
/template/bin
